@{
    ViewData["Title"] = "Home Page";

    var persona1 = "fernando";


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building @persona1  Web apps with ASP.NET Core</a>.</p>

    <p> Hola como estas <i id="titulo"></i> </p>

</div>
 <script>

     var persona1 = "fernando diaz";
    document.getElementById("titulo").innerHTML = persona1;

</script>